body {

}

.timeline {
  width: 100%;
  height: 30px;
  border: solid 1px #999;
  background-color:#eee;
  margin-left: auto;
  margin-right: auto;
  margin-top:3px;
  clear: both;
}

.timeline a {
  display: inline-block;
  border:solid 0px #000;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
}

.timeline a.button {
  background-color:#66a;
  text-align: center;
  line-height:30px;
  color: #000;
}

.timeline a.blank {
  background-color:none;
}

.timeline a.button.turn {
  background-color:#fff;
}

.timeline a.button.kick_left {
  background-color:#eae;
}

.timeline a.button.kick_right {
  background-color:#aee;
}

.timeline a.button.kick_short {
  background-color:#99e;
}

.timeline a.button.kick_long {
  background-color:#66a;
}

.timeline a.button.selected {
  background-color:#f00;
}